@media (max-width: 768px) {
    .review-container,
    .review-item {
        width: 100% !important;
    }
    

}

@media (max-width: 928px) {
    .review-container,
    .review-item {
        width: 100% !important;
    }
    

}

.review-item {
    width: 100% !important;
}