.markdown-editor-is-inactive .EditorToolbar__root___3_Aqz {
  display: none;
}

.editor-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor-rte {
  line-height: 1.6;
  font-weight: normal;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: 'Georgia', serif;
  font-size: 14px;
  min-height: 300px;
  font-size: 10px;
  margin: 0 0px;
  padding: 0px 0 0px
}
.EditorToolbar__root___3_Aqz {
  font-size: 12px;
  margin: 0 0px;
  padding: 10px 0 5px;
  border-bottom: 1px solid #ddd;
}
.button-cancel {
  margin-left: 7px;
}

.preview {

  height: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word; 
  font-size: 120%;
  line-height: 150%;
  padding: 6px;
}


