.markdown-editor-is-inactive .EditorToolbar__root___3_Aqz {
  display: none;
}

.editor-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-cancel {
  margin-left: 7px;
}

.preview {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word; 
  font-size: 120%;
  line-height: 150%;
  padding: 6px;
}


