.markdown-editor-is-inactive .EditorToolbar__root___3_Aqz {
  display: none;
}

.editor-tags {
  margin-top: 5px;
  margin-bottom: 5px;
}


.preview {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: wrap; 
  font-size: 112%;
  line-height: 150%;
  padding: 6px;
  max-width: 400px;
}

.preview > p {
  width:inherit;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: wrap; 
}

.preview-active {
  display: block;
}

.preview-inactive {
  display: none !important;
}
