.mod-functions {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mod-functions button {
  margin-right: 7px;
}

.coverImage {
  width: 280px;
  float: left;
  margin-right: 20px;
}

.coverImage img {
  width: 100%;
  height: auto;
}

.ant-list-item.list-item-article {
  border: solid 1px #DDDDDD;
}

.ant-list-lg .ant-list-item.list-item-article {
  padding: 0;
  margin: 0 30px 30px 30px;
}

.ant-list-split .ant-list-item.list-item-article:last-child {
  border-bottom: solid 1px #DDDDDD;
}

.ant-list-item.list-item-article .article-content-wrapper {
  padding: 0.5rem 1rem 0 ;
  font-size: 90%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ant-list-item.list-item-article .article-content-wrapper .ant-list-item-content {
  margin-bottom: 0;
}

.ant-list-item.list-item-article .article-meta {
  padding: 0.6rem;
  background: #FFF;
}
.article-image-container {
  max-width:20% ;
}
.ant-list .article-content-wrapper {
  font-family:  "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
}
.ant-list-item-content {
  font-size: 12px;
  line-height: 1.6
}

.article-details {
  width: 75%;
  margin: auto;
}

.article-title {
  font-weight: bolder;
}
.article-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .article-item-list-container {
    flex-direction: column !important;
    height: auto !important;
  }
  .article-image-container {
    max-width:100% !important;
  }

  .article-details {
    width: 100% !important;
    padding-bottom: 3px;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  .article-title,
  .ant-list,
  .article-content-wrapper
  {
    padding-left: 5px !important;
  }


}

.my-auto {
  margin-top: 10px;
  margin-left: 10px;
}