.mod-functions {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mod-functions button {
  margin-right: 7px;
}

.coverImage {
  width: 280px;
  float: left;
  margin-right: 20px;
}

.coverImage img {
  width: 100%;
  height: auto;
}

.ant-list-item.list-item-article {
  border: solid 1px #DDDDDD;
}

.ant-list-lg .ant-list-item.list-item-article {
  padding: 0;
  margin: 0 30px 30px 30px;
}

.ant-list-split .ant-list-item.list-item-article:last-child {
  border-bottom: solid 1px #DDDDDD;
}

.ant-list-item.list-item-article .article-content-wrapper {
  padding: 0.5rem 1rem 0 ;
}

.ant-list-item.list-item-article .article-content-wrapper .ant-list-item-content {
  margin-bottom: 0;
}

.ant-list-item.list-item-article .article-meta {
  padding: 1rem;
  background: #FFF;
}
.ant-list .article-content-wrapper {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}
.ant-list-item-content {
  font-weight: lighter;
  font-size: 12px;
}