.mod-functions {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mod-functions button {
  margin-right: 7px;
}

.coverImage {
  width: 280px;
  float: left;
  margin-right: 20px;
}

.coverImage img {
  width: 100%;
  height: auto;
}
