.faq-container {
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 17.6px;
    width:75%;
}
@media (max-width: 768px) {
    .faq-container {
        width:90%;
    }
}