#article-body {
  flex-grow: 1;
  display: flex;
}

.ant-layout-content.article-detail {
  border: solid 1px #DDD;
  padding: 1rem;
}

.article-detail .article-footer {
  background: #FFF;
  padding: 1rem;
  margin: 0 -1rem;
}

.article-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.upvote {
  cursor: pointer;
}

.upvote:hover {
  color: #1890ff;
}

#article-announcements {
  margin-left: 2rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0, 0.2);
  flex: 0 0 14rem;
}

@media only screen and (max-width: 60rem) {
  #article-announcements { display: none; }
}
