.article-body {
    font-family:  Helvetica, sans-serif;
}
img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .announcement-container,
    .similarpost-container 
    {
        display: none;
    }
    #article-detail {
        width: 100% !important;
    }

}

@media (max-width: 928px) {
    .announcement-container,
    .similarpost-container 
    {
        display: none;
    }
    #article-detail {
        width: 100% !important;
    }

}