<<<<<<< HEAD



=======
.home-container {
    justify-content: center;
    width: 100%;
    margin-top: 100px
}
.contribution-container,
.announcement-container{
    margin-top: 0
} 
.home-inner-container {
    justify-items: space-between !important;
}
>>>>>>> 06abe2a5b4209fdbb71bdb73c8fb0833c9f5f496
.select-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
  .announcement-container,
  .contribution-container {
      display: none !important;
  }
  .item-feed {
      width: 100% !important;
  }
}

@media (max-width: 928px) {
    .announcement-container,
    .contribution-container {
        display: none !important;
    }
    .item-feed {
        width: 100% !important;
    }

    .mobile-select {
        display: flex !important;
    }
  }