
.select-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
  .announcement-container {
      display: none !important;
      width: 10px !important
  }
  .item-feed,
  .home-container {
      width: 100% !important;
  }
}

@media (max-width: 928px) {
    .announcement-container,
    .contribution-container {
        display: none !important;
    }
    .item-feed,
    .home-container
    {
        width: 100% !important;
    }

    .mobile-select {
        display: flex !important;
    }
  }