.home-container {
    justify-content: center;
    width: 100%
}
.contribution-container,
.announcement-container{
    margin-top: 0
} 
.home-inner-container {
    justify-items: space-between !important;
}