.logo {
  width:20%;
}
.input-container {
  width: 50%;
  
}
.mx-auto {
  margin: auto !important;
}
.button-container {
  width: 20%;
}
.header-container {
  width: 80%;
  margin: auto;
  padding: 5px;
}
.toggle-cointainer {
  width: 5%;
}
.navbar__link-toggle {
  display: none;
}

.ml {
  margin-left: 12px ;
}

.mb {
  margin-bottom: 18px ;
}

@media (max-width: 768px) {
  .navbar__items,
  .navbar {
    flex-direction: column !important;
  }

  .navbar__items {
    display: none !important;
  }

  .header-container{
    justify-content: space-between !important;
    width: 100%
  }


  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    align-self: auto;
  }
  .brand {
    align-self: flex-start
  }
  .profile {
    display: none;
    
  }
  .edit {
    display: none;
  }
  
  
}

@media (max-width: 992px) {
  
  .header-container{
    justify-content: space-between !important;
  }

  .button-container {
    display: none !important;
  }

  .select {
    display: none !important;
    
  }

  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    align-self: auto;
  }
  .brand {
    align-self: flex-start
  }
  

  .header-container{
    width: 90%
  }

  
  
}

@media (max-width: 1200px) {
 
  .navbar__items--right {
    margin-left: 0;
  }


  .header-container{
    justify-content: space-between !important;
  }

  .button-container {
    display: none !important;
  }


  .select {
    display: none !important;
    
  }
  

  .collasped-header {
   flex-basis: column;
  }

  
  .brand {
    align-self: flex-start
  }
  
  
  .header-container{
    width: 90%
  }
}


