
.footer-links > a {

  padding: 5px !important;
}
.logo-container {
  width: 40%;
  display: flex;
  justify-content: center;
}
.copyright {
  font-size: 12px;
}
.footer-container {
  width: 100%;
}
.link-container {
  width: 60%;
  display: flex;
  justify-content: center;
}
.footer-links {
  text-align: center;
}

@media (max-width: 768px) {
  .link-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    font-size: 10px;
    align-items: center;
    justify-content: center !important;
  }
  .logo-container {
    justify-content: space-around !important;
    width: 100%;
  }

}

