.ant-layout {
  background-color: transparent;
}

.ant-menu-dark {
  background-color: #283638;
}

.ant-layout-content {
  padding: 16px;
  margin: 0;
}

.ant-list-vertical .ant-list-item-meta {
  margin-bottom: 0;
}

.ant-layout-sider-zero-width-trigger {
  top: 10px;
  z-index: 1000;
}
