.ant-layout {
  background-color: transparent;
}

.ant-menu-dark {
  background-color: #283638;
}

.ant-layout-content {
  padding: 16px;
  margin: 0;
}


.ant-list-vertical .ant-list-item-meta {
  margin-bottom: 0;
}

.ant-layout-sider-zero-width-trigger {
  top: 10px;
  z-index: 1000;
}

.ant-menu-item>a {
  color: #2a2a2a;
}
.ant-menu-item>a>i {
  color: #999999;
}
.ant-menu-item-selected, .ant-menu-item-selected>a, .ant-menu-item-selected>a:hover {
  color: #22429d;
  font-weight: bold;
}

.ant-menu-horizontal {
  white-space: pre-wrap !important;
}