@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  margin: 0;
  background-color: #efefef;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

div,
p,
span,
img {
  box-sizing: border-box;
}

.avatar {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
}

#page-layout {
  min-height: 100vh;
}

#page-layout > .ant-layout-header {
  background-color: #fff;
  height: auto;
  line-height: normal;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0, 0.2);
  margin-bottom: 2rem;
  padding: 0;
}

#page-layout > .ant-layout-footer {
  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0, 0.2);
  padding: 5px;
  width: 100%;
}

#content-layout,
.content-layout {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: flex-start;
}

a:hover {
  color: #22429d !important;
}

a:active {
  color: #22429d !important;
  font-weight: bolder;
}
